# Data Preprocessing

## Importing the libraries

In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import model.preprocess_games as ppg
#pd.options.display.max_columns = None
#pd.set_option("display.max_colwidth", -1)
#from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = "all"
#pd.set_option("display.max_rows", 101)

## Importing the dataset

In [14]:
DATA_PATH = 'data'

SEASONS_PROCESSED_DS = f"{DATA_PATH}/seasons.processed.feather"

TEAMS_DS = f"{DATA_PATH}/teams.processed.feather"
TEAMS_PROCESSED_DS = f"{DATA_PATH}/teams.processed.feather"

GAMES_DS = f"{DATA_PATH}/games.csv"
GAMES_PROCESSED_DS = f"{DATA_PATH}/games.processed.feather"

In [22]:
games = pd.read_csv(GAMES_DS, parse_dates=["GAME_DATE_EST"], usecols=["GAME_ID",'GAME_DATE_EST', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID',
       'SEASON', 'PTS_home', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'AST_home', 'REB_home', 'PTS_away',
       'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away',
       'HOME_TEAM_WINS']
                    , infer_datetime_format=True, index_col="GAME_ID")
games = games.sort_values(by=['GAME_DATE_EST', 'GAME_ID'])
teams = pd.read_feather(TEAMS_PROCESSED_DS)
seasons = pd.read_feather(SEASONS_PROCESSED_DS)
games_matchup = pd.read_feather(GAMES_PROCESSED_DS)
games_matchup = games_matchup.set_index(["GAME_ID"])
games_matchup = games_matchup.sort_values(by=['GAME_DATE_EST', 'GAME_ID'])
games_matchup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3689 entries, 21600001 to 21801229
Data columns (total 72 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   HT                     3689 non-null   int64
 1   HT_RANK                0 non-null      object
 2   HT_CLASS               0 non-null      object
 3   HT_HW                  3689 non-null   int64
 4   HT_HL                  3689 non-null   int64
 5   HT_VW                  3689 non-null   int64
 6   HT_VL                  3689 non-null   int64
 7   HT_LAST10_W            3689 non-null   int64
 8   HT_LAST10_L            3689 non-null   int64
 9   HT_LAST10_MATCHUP_W    3689 non-null   int64
 10  HT_LAST10_MATCHUP_L    3689 non-null   int64
 11  HT_OVERALL_OFF_POINTS  3689 non-null   float64
 12  HT_OVERALL_DEF_POINTS  3689 non-null   float64
 13  HT_OVERALL_OFF_FG      3689 non-null   float64
 14  HT_OVERALL_DEF_FG      3689 non-null   float64
 15  HT_OVERALL_OFF_3P      3689 non-null   float64
 16  HT_OVERALL_DEF_3P      3689 non-null   float64
 17  HT_OVERALL_OFF_FT      3689 non-null   float64
 18  HT_OVERALL_DEF_FT      3689 non-null   float64
 19  HT_OVERALL_OFF_REB     3689 non-null   float64
 20  HT_OVERALL_DEF_REB     3689 non-null   float64
 21  HT_AWAY_POINTS         3689 non-null   float64
 22  HT_AWAY_FG             3689 non-null   float64
 23  HT_AWAY_3P             3689 non-null   float64
 24  HT_AWAY_FT             3689 non-null   float64
 25  HT_AWAY_REB            3689 non-null   float64
 26  VT                     3689 non-null   int64
 27  VT_RANK                0 non-null      object
 28  VT_CLASS               0 non-null      object
 29  VT_HW                  3689 non-null   int64
 30  VT_HL                  3689 non-null   int64
 31  VT_VW                  3689 non-null   int64
 32  VT_VL                  3689 non-null   int64
 33  VT_LAST10_W            3689 non-null   int64
 34  VT_LAST10_L            3689 non-null   int64
 35  VT_LAST10_MATCHUP_W    3689 non-null   int64
 36  VT_LAST10_MATCHUP_L    3689 non-null   int64
 37  VT_OVERALL_OFF_POINTS  3689 non-null   float64
 38  VT_OVERALL_DEF_POINTS  3689 non-null   float64
 39  VT_OVERALL_OFF_FG      3689 non-null   float64
 40  VT_OVERALL_DEF_FG      3689 non-null   float64
 41  VT_OVERALL_OFF_3P      3689 non-null   float64
 42  VT_OVERALL_DEF_3P      3689 non-null   float64
 43  VT_OVERALL_OFF_FT      3689 non-null   float64
 44  VT_OVERALL_DEF_FT      3689 non-null   float64
 45  VT_OVERALL_OFF_REB     3689 non-null   float64
 46  VT_OVERALL_DEF_REB     3689 non-null   float64
 47  VT_AWAY_POINTS         3689 non-null   float64
 48  VT_AWAY_FG             3689 non-null   float64
 49  VT_AWAY_3P             3689 non-null   float64
 50  VT_AWAY_FT             3689 non-null   float64
 51  VT_AWAY_REB            3689 non-null   float64
 52  GAME_DATE_EST          3689 non-null   datetime64[ns]
 53  GAME_STATUS_TEXT       3689 non-null   object
 54  HOME_TEAM_ID           3689 non-null   int64
 55  VISITOR_TEAM_ID        3689 non-null   int64
 56  SEASON                 3689 non-null   int64
 57  PTS_home               3689 non-null   float64
 58  FG_PCT_home            3689 non-null   float64
 59  FT_PCT_home            3689 non-null   float64
 60  FG3_PCT_home           3689 non-null   float64
 61  AST_home               3689 non-null   float64
 62  REB_home               3689 non-null   float64
 63  PTS_away               3689 non-null   float64
 64  FG_PCT_away            3689 non-null   float64
 65  FT_PCT_away            3689 non-null   float64
 66  FG3_PCT_away           3689 non-null   float64
 67  AST_away               3689 non-null   float64
 68  REB_away               3689 non-null   float64
 69  HOME_TEAM_WINS         3689 non-null   int64
 70  HOME_TEAM_NAME         3689 non-null   object
 71  VISITOR_TEAM_NAME      3689 non-null   object
dtypes: datetime64[ns](1), float64(42), int64(22), object(7)
memory usage: 2.1+ MB

In [26]:
games_matchup[["GAME_DATE_EST", "HOME_TEAM_NAME", "VISITOR_TEAM_NAME", "HOME_TEAM_WINS"]]

         GAME_DATE_EST HOME_TEAM_NAME VISITOR_TEAM_NAME  HOME_TEAM_WINS
GAME_ID
21600001    2016-10-25            CLE               NYK               1
21600002    2016-10-25            POR               UTA               1
21600003    2016-10-25            GSW               SAS               0
21600004    2016-10-26            ORL               MIA               0
21600005    2016-10-26            IND               DAL               1
...                ...            ...               ...             ...
21801225    2019-04-10            MEM               GSW               1
21801226    2019-04-10            MIL               OKC               0
21801227    2019-04-10            SAS               DAL               1
21801228    2019-04-10            DEN               MIN               1
21801229    2019-04-10            LAC               UTA               1

[3689 rows x 4 columns]

In [27]:
x_columns = [
"HOME_TEAM_NAME",
"VISITOR_TEAM_NAME",
"SEASON",
"HT_HW",
"HT_HL",
"HT_VW",
"HT_VL",
"HT_LAST10_W",
"HT_LAST10_L",
"HT_LAST10_MATCHUP_W",
"HT_LAST10_MATCHUP_L",
"HT_OVERALL_OFF_POINTS",
"HT_OVERALL_DEF_POINTS",
"HT_OVERALL_OFF_FG",
"HT_OVERALL_DEF_FG",
"HT_OVERALL_OFF_3P",
"HT_OVERALL_DEF_3P",
"HT_OVERALL_OFF_FT",
"HT_OVERALL_DEF_FT",
"HT_OVERALL_OFF_REB",
"HT_OVERALL_DEF_REB",
"HT_AWAY_POINTS",
"HT_AWAY_FG",
"HT_AWAY_3P",
"HT_AWAY_FT",
"HT_AWAY_REB",
"VT_HW",
"VT_HL",
"VT_VW",
"VT_VL",
"VT_LAST10_W",
"VT_LAST10_L",
"VT_LAST10_MATCHUP_W",
"VT_LAST10_MATCHUP_L",
"VT_OVERALL_OFF_POINTS",
"VT_OVERALL_DEF_POINTS",
"VT_OVERALL_OFF_FG",
"VT_OVERALL_DEF_FG",
"VT_OVERALL_OFF_3P",
"VT_OVERALL_DEF_3P",
"VT_OVERALL_OFF_FT",
"VT_OVERALL_DEF_FT",
"VT_OVERALL_OFF_REB",
"VT_OVERALL_DEF_REB",
"VT_AWAY_POINTS",
"VT_AWAY_FG",
"VT_AWAY_3P",
"VT_AWAY_FT",
"VT_AWAY_REB"
]

In [28]:
x = games_matchup.loc[:, x_columns].values
x

array([['CLE', 'NYK', 2016, ..., 0.361, 0.771, 40.992],
       ['POR', 'UTA', 2016, ..., 0.339, 0.749, 41.55],
       ['GSW', 'SAS', 2016, ..., 0.365, 0.779, 42.256],
       ...,
       ['SAS', 'DAL', 2018, ..., 0.356, 0.772, 41.053],
       ['DEN', 'MIN', 2018, ..., 0.337, 0.785, 42.397],
       ['LAC', 'UTA', 2018, ..., 0.346, 0.752, 42.197]], dtype=object)

In [6]:
y_columns = [
"PTS_home",
"FG_PCT_home",
"FT_PCT_home",
"FG3_PCT_home",
"AST_home",
"REB_home",
"PTS_away",
"FG_PCT_away",
"FT_PCT_away",
"FG3_PCT_away",
"AST_away",
"REB_away",
"HOME_TEAM_WINS"
]

In [7]:
y = games_matchup.loc[:, ["HOME_TEAM_WINS"]].values
y

array([[1],
       [1],
       [1],
       ...,
       [0],
       [1],
       [1]])

## Taking care of missing data

In [8]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

## Encoding categorical data

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')

## Splitting the dataset into the Training set and Test set