In [6]:
import pandas as pd

In [15]:
games = pd.read_csv("../nba-games/games.csv",parse_dates=["GAME_DATE_EST"]
                    ,infer_datetime_format=True)
teams = pd.read_feather("data/teams.processed.feather")

In [8]:
print(games.shape)

(23195, 21)

In [9]:
games.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-03-01,21900895,Final,1610612766,1610612749,2019,1610612766,85.0,0.354,0.900,...,22.0,47.0,1610612749,93.0,0.402,0.762,0.226,20.0,61.0,0
1,2020-03-01,21900896,Final,1610612750,1610612742,2019,1610612750,91.0,0.364,0.400,...,19.0,57.0,1610612742,111.0,0.468,0.632,0.275,28.0,56.0,0
2,2020-03-01,21900897,Final,1610612746,1610612755,2019,1610612746,136.0,0.592,0.805,...,25.0,37.0,1610612755,130.0,0.505,0.650,0.488,27.0,37.0,1
3,2020-03-01,21900898,Final,1610612743,1610612761,2019,1610612743,133.0,0.566,0.700,...,38.0,41.0,1610612761,118.0,0.461,0.897,0.263,24.0,36.0,1
4,2020-03-01,21900899,Final,1610612758,1610612765,2019,1610612758,106.0,0.407,0.885,...,18.0,51.0,1610612765,100.0,0.413,0.667,0.429,23.0,42.0,1

In [10]:
games.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [11]:
games.dtypes

GAME_DATE_EST       datetime64[ns]
GAME_ID                      int64
GAME_STATUS_TEXT            object
HOME_TEAM_ID                 int64
VISITOR_TEAM_ID              int64
SEASON                       int64
TEAM_ID_home                 int64
PTS_home                   float64
FG_PCT_home                float64
FT_PCT_home                float64
FG3_PCT_home               float64
AST_home                   float64
REB_home                   float64
TEAM_ID_away                 int64
PTS_away                   float64
FG_PCT_away                float64
FT_PCT_away                float64
FG3_PCT_away               float64
AST_away                   float64
REB_away                   float64
HOME_TEAM_WINS               int64
dtype: object

In [46]:
query = (games.SEASON==2018) & \
((games.TEAM_ID_home == 1610612744) | \
        (games.TEAM_ID_away == 1610612744))
games2019 = games[query]
query2019 = games2019.GAME_DATE_EST  <= "2018-10-16"
games2019 = games2019[query2019]
games2019

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
17507,2018-10-16,21800002,Final,1610612744,1610612760,2018,1610612744,108.0,0.442,0.944,...,28.0,58.0,1610612760,100.0,0.363,0.649,0.270,21.0,45.0,1
17517,2018-10-12,11800079,Final,1610612744,1610612747,2018,1610612744,105.0,0.398,0.735,...,25.0,40.0,1610612747,119.0,0.533,0.732,0.529,29.0,50.0,0
17527,2018-10-10,11800065,Final,1610612747,1610612744,2018,1610612747,123.0,0.433,0.826,...,28.0,45.0,1610612744,113.0,0.438,0.556,0.391,23.0,56.0,1
17536,2018-10-08,11800054,Final,1610612744,1610612756,2018,1610612744,109.0,0.506,0.826,...,26.0,33.0,1610612756,117.0,0.512,0.731,0.424,29.0,39.0,0
17551,2018-10-05,11800039,Final,1610612744,1610612758,2018,1610612744,122.0,0.516,0.739,...,29.0,53.0,1610612758,94.0,0.347,0.714,0.458,21.0,54.0,1
17572,2018-09-29,11800005,Final,1610612744,1610612750,2018,1610612744,110.0,0.473,0.769,...,33.0,48.0,1610612750,114.0,0.426,0.733,0.400,15.0,47.0,0

In [41]:
games2019

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
16196,2019-06-13,41800406,Final,1610612744,1610612761,2018,1610612744,110.0,0.488,0.700,...,28.0,42.0,1610612761,114.0,0.476,0.793,0.394,25.0,39.0,0
16197,2019-06-10,41800405,Final,1610612761,1610612744,2018,1610612761,105.0,0.447,0.778,...,19.0,43.0,1610612744,106.0,0.463,0.714,0.476,27.0,37.0,0
16198,2019-06-07,41800404,Final,1610612744,1610612761,2018,1610612744,92.0,0.449,0.667,...,26.0,42.0,1610612761,105.0,0.419,0.958,0.313,22.0,39.0,0
16199,2019-06-05,41800403,Final,1610612744,1610612761,2018,1610612744,109.0,0.396,0.833,...,25.0,41.0,1610612761,123.0,0.524,0.952,0.447,30.0,40.0,0
16200,2019-06-02,41800402,Final,1610612761,1610612744,2018,1610612761,104.0,0.372,0.885,...,17.0,49.0,1610612744,109.0,0.463,0.870,0.382,34.0,42.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17517,2018-10-12,11800079,Final,1610612744,1610612747,2018,1610612744,105.0,0.398,0.735,...,25.0,40.0,1610612747,119.0,0.533,0.732,0.529,29.0,50.0,0
17527,2018-10-10,11800065,Final,1610612747,1610612744,2018,1610612747,123.0,0.433,0.826,...,28.0,45.0,1610612744,113.0,0.438,0.556,0.391,23.0,56.0,1
17536,2018-10-08,11800054,Final,1610612744,1610612756,2018,1610612744,109.0,0.506,0.826,...,26.0,33.0,1610612756,117.0,0.512,0.731,0.424,29.0,39.0,0
17551,2018-10-05,11800039,Final,1610612744,1610612758,2018,1610612744,122.0,0.516,0.739,...,29.0,53.0,1610612758,94.0,0.347,0.714,0.458,21.0,54.0,1
17572,2018-09-29,11800005,Final,1610612744,1610612750,2018,1610612744,110.0,0.473,0.769,...,33.0,48.0,1610612750,114.0,0.426,0.733,0.400,15.0,47.0,0