In [45]:
GAME_COLUMNS = [
    'DATE',
    'ID',
    # HOME TEAM
    'HT',
    'HT_RANK',
    'HT_CLASS',
    'HT_HW',
    'HT_HL',
    'HT_VW',
    'HT_VL',
    'HT_LAST10_W',
    'HT_LAST10_L',
    'HT_LAST10_MATCHUP_W',
    'HT_LAST10_MATCHUP_L',
    'HT_OVERALL_OFF_POINTS',
    'HT_OVERALL_DEF_POINTS',
    'HT_OVERALL_OFF_FG',
    'HT_OVERALL_DEF_FG',
    'HT_OVERALL_OFF_3P',
    'HT_OVERALL_DEF_3P',
    'HT_OVERALL_OFF_FT',
    'HT_OVERALL_DEF_FT',
    'HT_OVERALL_OFF_REB',
    'HT_OVERALL_DEF_REB',
    'HT_OVERALL_OFF_POINTS',
    'HT_AWAY_DEF_POINTS',
    'HT_AWAY_OFF_FG',
    'HT_AWAY_DEF_FG',
    'HT_AWAY_OFF_3P',
    'HT_AWAY_DEF_3P',
    'HT_AWAY_OFF_FT',
    'HT_AWAY_DEF_FT',
    'HT_AWAY_OFF_REB',
    'HT_AWAY_DEF_REB',
    # AWAY TEAM
    'AT',
    'AT_RANK',
    'AT_CLASS',
    'AT_HW',
    'AT_HL',
    'AT_VW',
    'AT_VL',
    'AT_LAST10_W',
    'AT_LAST10_L',
    'AT_LAST10_MATCHUP_W',
    'AT_LAST10_MATCHUP_L',
    'AT_OVERALL_OFF_POINTS',
    'AT_OVERALL_DEF_POINTS',
    'AT_OVERALL_OFF_FG',
    'AT_OVERALL_DEF_FG',
    'AT_OVERALL_OFF_3P',
    'AT_OVERALL_DEF_3P',
    'AT_OVERALL_OFF_FT',
    'AT_OVERALL_DEF_FT',
    'AT_OVERALL_OFF_REB',
    'AT_OVERALL_DEF_REB',
    'AT_OVERALL_OFF_POINTS',
    'AT_AWAY_DEF_POINTS',
    'AT_AWAY_OFF_FG',
    'AT_AWAY_DEF_FG',
    'AT_AWAY_OFF_3P',
    'AT_AWAY_DEF_3P',
    'AT_AWAY_OFF_FT',
    'AT_AWAY_DEF_FT',
    'AT_AWAY_OFF_REB',
    'AT_AWAY_DEF_REB',
]

In [40]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [41]:
DATA_PATH = 'data'

SEASONS_PROCESSED_DS = f"{DATA_PATH}/seasons.processed.feather"

TEAMS_DS = f"{DATA_PATH}/teams.processed.feather"
TEAMS_PROCESSED_DS = f"{DATA_PATH}/teams.processed.feather"

GAMES_DS = f"{DATA_PATH}/games.csv"
GAMES_PROCESSED_DS = f"{DATA_PATH}/games.processed.feather"

In [42]:
def get_season_games(games, seasons):
    row = seasons.iloc[0]
    season_games = games[(games.SEASON == row.SEASON) & \
                         (games.GAME_DATE_EST >= row.SEASON_START) & \
                         (games.GAME_DATE_EST <= row.SEASON_END)
                         ]
    for i in range(1, len(seasons)):
        row = seasons.iloc[i]
        temp = games[(games.SEASON == row.SEASON) & \
                     (games.GAME_DATE_EST >= row.SEASON_START) & \
                     (games.GAME_DATE_EST <= row.SEASON_END)
                     ]
        season_games = pd.concat([season_games, temp])
    return season_games

In [43]:
games = pd.read_csv(GAMES_DS, parse_dates=["GAME_DATE_EST"]
                    , infer_datetime_format=True, index_col="GAME_ID")
games = games.sort_values(by=['GAME_DATE_EST', 'GAME_ID'])
teams = pd.read_feather(TEAMS_PROCESSED_DS)
seasons = pd.read_feather(SEASONS_PROCESSED_DS)
season_games = get_season_games(games, seasons)

In [ ]:
games_processed: DataFrame = pd.DataFrame(columns=GAME_COLUMNS)
i = len(season_games)-1
game_processed = {}
row = season_games.iloc[i, :]
previous_games = season_games[:i]
print(season_games.shape)
print(previous_games.shape)

In [ ]:
home_team_id = row.HOME_TEAM_ID
visitor_team_id = row.VISITOR_TEAM_ID
season_year = row.SEASON
print(teams[teams.TEAM_ID == home_team_id])
print(teams[teams.TEAM_ID == visitor_team_id])
print(season_year)

In [ ]:
game_processed["ID"] = row.name
game_processed['DATE'] = row["GAME_DATE_EST"]
# # HOME TEAM
game_processed['HT'] = row["HOME_TEAM_ID"]
game_processed['HT_RANK'] = None
game_processed['HT_CLASS'] = None
game_processed['HT_HW'] = None

In [ ]:
query = ((season_games.HOME_TEAM_ID == home_team_id) | (season_games.VISITOR_TEAM_ID == home_team_id)) & \
                ((season_games.HOME_TEAM_ID == visitor_team_id) | (season_games.VISITOR_TEAM_ID == visitor_team_id))
last10_matchup = previous_games[query].tail(10)
last10_matchup

In [50]:
ppg.season_games.iloc[len(ppg.season_games)-1, :]

(10829, 20)
(10828, 20)

In [55]:
home_team_id = row.HOME_TEAM_ID
visitor_team_id = row.VISITOR_TEAM_ID
season_year = row.SEASON
print(teams[teams.TEAM_ID == home_team_id])
print(teams[teams.TEAM_ID == visitor_team_id])
print(season_year)

       TEAM_ID NAME       NICKNAME      CITY
18  1610612757  POR  Trail Blazers  Portland
       TEAM_ID NAME NICKNAME        CITY
19  1610612758  SAC    Kings  Sacramento
2018

In [56]:
game_processed["ID"] = row.name
game_processed['DATE'] = row["GAME_DATE_EST"]
# # HOME TEAM
game_processed['HT'] = row["HOME_TEAM_ID"]
game_processed['HT_RANK'] = None
game_processed['HT_CLASS'] = None
game_processed['HT_HW'] = None

In [60]:
query = ((season_games.HOME_TEAM_ID == home_team_id) | (season_games.VISITOR_TEAM_ID == home_team_id)) & \
                ((season_games.HOME_TEAM_ID == visitor_team_id) | (season_games.VISITOR_TEAM_ID == visitor_team_id))
last10_matchup = previous_games[query].tail(10)
last10_matchup

/home/nathaniel/anaconda3/envs/nba-predictor/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
GAME_ID,,,,,,,,,,,,,,,,,,,,
21501162,2016-04-05,Final,1610612758,1610612757,2015,1610612758,107.0,0.526,0.667,0.500,20.0,34.0,1610612757,115.0,0.430,0.852,0.387,20.0,49.0,0
21600128,2016-11-11,Final,1610612757,1610612758,2016,1610612757,122.0,0.523,0.704,0.394,29.0,36.0,1610612758,120.0,0.489,0.800,0.286,18.0,48.0,1
21600428,2016-12-20,Final,1610612758,1610612757,2016,1610612758,126.0,0.556,0.837,0.435,20.0,31.0,1610612757,121.0,0.512,0.725,0.143,30.0,41.0,1
21600484,2016-12-28,Final,1610612757,1610612758,2016,1610612757,102.0,0.473,0.909,0.480,19.0,45.0,1610612758,89.0,0.392,0.783,0.321,20.0,39.0,1
21700225,2017-11-17,Final,1610612758,1610612757,2017,1610612758,86.0,0.424,0.667,0.286,20.0,43.0,1610612757,82.0,0.370,0.938,0.280,13.0,44.0,1
21700234,2017-11-18,Final,1610612757,1610612758,2017,1610612757,102.0,0.543,0.762,0.476,19.0,44.0,1610612758,90.0,0.382,0.778,0.471,14.0,36.0,1
21700825,2018-02-09,Final,1610612758,1610612757,2017,1610612758,100.0,0.422,0.714,0.391,25.0,43.0,1610612757,118.0,0.489,0.944,0.429,18.0,45.0,0
21700911,2018-02-27,Final,1610612757,1610612758,2017,1610612757,116.0,0.524,0.765,0.441,27.0,47.0,1610612758,99.0,0.443,0.933,0.318,20.0,36.0,1
21800552,2019-01-01,Final,1610612758,1610612757,2018,1610612758,108.0,0.383,0.750,0.333,24.0,53.0,1610612757,113.0,0.433,0.867,0.281,22.0,56.0,0
21800649,2019-01-14,Final,1610612758,1610612757,2018,1610612758,115.0,0.494,0.792,0.385,24.0,48.0,1610612757,107.0,0.402,0.793,0.323,22.0,49.0,1

In [39]:
ppg.season_games.iloc[len(ppg.season_games)-1, :]

GAME_DATE_EST       2019-04-10 00:00:00
GAME_STATUS_TEXT                  Final
HOME_TEAM_ID                 1610612757
VISITOR_TEAM_ID              1610612758
SEASON                             2018
TEAM_ID_home                 1610612757
PTS_home                            136
FG_PCT_home                       0.582
FT_PCT_home                       0.727
FG3_PCT_home                      0.583
AST_home                             19
REB_home                             44
TEAM_ID_away                 1610612758
PTS_away                            131
FG_PCT_away                       0.521
FT_PCT_away                       0.813
FG3_PCT_away                      0.419
AST_away                             25
REB_away                             35
HOME_TEAM_WINS                        1
Name: 21801230, dtype: object

In [27]:
games = pd.read_csv("../nba-games/games.csv",parse_dates=["GAME_DATE_EST"]
                    ,infer_datetime_format=True, index_col="GAME_ID")
teams = pd.read_feather("data/teams.processed.feather")

In [28]:
games.shape

(23195, 20)

In [29]:
games = games.sort_values(by=['GAME_DATE_EST', 'GAME_ID'])

In [30]:
games[:len(games)]

,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
GAME_ID,,,,,,,,,,,,,,,,,,,,
10300001,2003-10-05,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,0.143,23.0,41.0,1610612742,85.0,0.447,0.500,0.250,20.0,38.0,1
10300002,2003-10-06,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,0.267,25.0,48.0,1610612749,94.0,0.427,0.700,0.154,20.0,43.0,1
10300003,2003-10-07,Final,1610612765,1610612739,2003,1610612765,96.0,0.391,0.600,0.444,19.0,37.0,1610612739,100.0,0.494,0.690,0.667,25.0,52.0,0
10300004,2003-10-07,Final,1610612742,1610612753,2003,1610612742,99.0,0.488,0.667,0.167,20.0,52.0,1610612753,89.0,0.408,0.727,0.350,15.0,34.0,1
10300005,2003-10-07,Final,1610612757,1610612745,2003,1610612757,104.0,0.527,0.657,0.429,22.0,33.0,1610612745,80.0,0.470,0.667,0.333,10.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21900897,2020-03-01,Final,1610612746,1610612755,2019,1610612746,136.0,0.592,0.805,0.542,25.0,37.0,1610612755,130.0,0.505,0.650,0.488,27.0,37.0,1
21900898,2020-03-01,Final,1610612743,1610612761,2019,1610612743,133.0,0.566,0.700,0.500,38.0,41.0,1610612761,118.0,0.461,0.897,0.263,24.0,36.0,1
21900899,2020-03-01,Final,1610612758,1610612765,2019,1610612758,106.0,0.407,0.885,0.257,18.0,51.0,1610612765,100.0,0.413,0.667,0.429,23.0,42.0,1
21900900,2020-03-01,Final,1610612740,1610612747,2019,1610612740,114.0,0.421,0.818,0.219,24.0,52.0,1610612747,122.0,0.515,0.900,0.371,23.0,36.0,0
21900901,2020-03-01,Final,1610612744,1610612764,2019,1610612744,110.0,0.472,0.708,0.321,25.0,52.0,1610612764,124.0,0.488,0.889,0.667,24.0,34.0,0

In [31]:
games.head()

,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
GAME_ID,,,,,,,,,,,,,,,,,,,,
10300001,2003-10-05,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,0.143,23.0,41.0,1610612742,85.0,0.447,0.500,0.250,20.0,38.0,1
10300002,2003-10-06,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,0.267,25.0,48.0,1610612749,94.0,0.427,0.700,0.154,20.0,43.0,1
10300003,2003-10-07,Final,1610612765,1610612739,2003,1610612765,96.0,0.391,0.600,0.444,19.0,37.0,1610612739,100.0,0.494,0.690,0.667,25.0,52.0,0
10300004,2003-10-07,Final,1610612742,1610612753,2003,1610612742,99.0,0.488,0.667,0.167,20.0,52.0,1610612753,89.0,0.408,0.727,0.350,15.0,34.0,1
10300005,2003-10-07,Final,1610612757,1610612745,2003,1610612757,104.0,0.527,0.657,0.429,22.0,33.0,1610612745,80.0,0.470,0.667,0.333,10.0,37.0,1

In [32]:
games.iloc[1,:]

GAME_DATE_EST       2003-10-06 00:00:00
GAME_STATUS_TEXT                  Final
HOME_TEAM_ID                 1610612763
VISITOR_TEAM_ID              1610612749
SEASON                             2003
TEAM_ID_home                 1610612763
PTS_home                            105
FG_PCT_home                       0.494
FT_PCT_home                       0.618
FG3_PCT_home                      0.267
AST_home                             25
REB_home                             48
TEAM_ID_away                 1610612749
PTS_away                             94
FG_PCT_away                       0.427
FT_PCT_away                         0.7
FG3_PCT_away                      0.154
AST_away                             20
REB_away                             43
HOME_TEAM_WINS                        1
Name: 10300002, dtype: object

In [33]:
games.dtypes

GAME_DATE_EST       datetime64[ns]
GAME_STATUS_TEXT            object
HOME_TEAM_ID                 int64
VISITOR_TEAM_ID              int64
SEASON                       int64
TEAM_ID_home                 int64
PTS_home                   float64
FG_PCT_home                float64
FT_PCT_home                float64
FG3_PCT_home               float64
AST_home                   float64
REB_home                   float64
TEAM_ID_away                 int64
PTS_away                   float64
FG_PCT_away                float64
FT_PCT_away                float64
FG3_PCT_away               float64
AST_away                   float64
REB_away                   float64
HOME_TEAM_WINS               int64
dtype: object

In [34]:
query = (games.SEASON==2018) & \
((games.TEAM_ID_home == 1610612744) | \
        (games.TEAM_ID_away == 1610612744))
#games2019 = games[query]
query2019 = (games.GAME_DATE_EST  >= "2018-10-16") & \
            (games.GAME_DATE_EST <= "2019-04-10") & \
            (games.SEASON==2018)
games2019 = games[query2019]

In [35]:
def get_w(row):
    if row["TEAM_ID_home"] == 1610612744 and row["HOME_TEAM_WINS"] == 1:
        return games2019.W.shift()+1
    elif row["TEAM_ID_away"] == 1610612744 and row["HOME_TEAM_WINS"] == 0:
        return games2019.W.shift()+1
    else:
        return games2019.W.shift()
# games2019["W"]=0
# games2019["W"] = games2019.apply(get_w, axis=1)

In [36]:
gws2019 = games2019[(games2019.HOME_TEAM_ID == 1610612744) | \
                    (games2019.VISITOR_TEAM_ID == 1610612744)]

gws2019 = games2019[(games2019.HOME_TEAM_ID == 1610612744) | \
                    (games2019.VISITOR_TEAM_ID == 1610612744)]
idx = len(gws2019)-1
row = gws2019.iloc[idx]



# HW
temp = gws2019[(gws2019.HOME_TEAM_ID == 1610612744) & \
             (gws2019.GAME_DATE_EST < row.GAME_DATE_EST)]
hw = temp.HOME_TEAM_WINS.sum() 
# VW
temp = gws2019[(gws2019.VISITOR_TEAM_ID == 1610612744) & \
             (gws2019.GAME_DATE_EST < row.GAME_DATE_EST)]
vw = temp.HOME_TEAM_WINS.count() \
            - temp.HOME_TEAM_WINS.sum()

# hl
temp = gws2019[(gws2019.HOME_TEAM_ID == 1610612744) & \
             (gws2019.GAME_DATE_EST < row.GAME_DATE_EST)]
hl = temp.HOME_TEAM_WINS.count() - temp.HOME_TEAM_WINS.sum() 

# vl
temp = gws2019[gws2019.VISITOR_TEAM_ID == 1610612744][:-1]
#temp = temp[:-1]
vl = temp.HOME_TEAM_WINS.sum()

print(hw)
print(vw)
print(hw + vw)

print(hl)
print(vl)
print(hl + vl)
gws2019.tail(10)
#queryHomeWins =

30
27
57
11
13
24

,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
GAME_ID,,,,,,,,,,,,,,,,,,,,
21801101,2019-03-24,Final,1610612744,1610612765,2018,1610612744,121.0,0.622,0.842,0.520,31.0,37.0,1610612765,114.0,0.464,0.960,0.387,25.0,29.0,1
21801118,2019-03-27,Final,1610612763,1610612744,2018,1610612763,103.0,0.390,0.714,0.323,22.0,51.0,1610612744,118.0,0.536,0.867,0.484,30.0,46.0,0
21801132,2019-03-29,Final,1610612750,1610612744,2018,1610612750,131.0,0.437,0.794,0.368,25.0,59.0,1610612744,130.0,0.469,0.714,0.450,27.0,45.0,1
21801150,2019-03-31,Final,1610612744,1610612766,2018,1610612744,137.0,0.602,0.833,0.636,41.0,50.0,1610612766,90.0,0.353,0.880,0.250,24.0,28.0,1
21801164,2019-04-02,Final,1610612744,1610612743,2018,1610612744,116.0,0.543,0.375,0.382,36.0,55.0,1610612743,102.0,0.375,0.793,0.233,23.0,40.0,1
21801179,2019-04-04,Final,1610612747,1610612744,2018,1610612747,90.0,0.356,0.571,0.216,25.0,62.0,1610612744,108.0,0.439,0.800,0.391,30.0,51.0,0
21801191,2019-04-05,Final,1610612744,1610612739,2018,1610612744,120.0,0.529,1.000,0.541,29.0,38.0,1610612739,114.0,0.443,0.913,0.233,21.0,48.0,1
21801205,2019-04-07,Final,1610612744,1610612746,2018,1610612744,131.0,0.546,0.867,0.324,34.0,48.0,1610612746,104.0,0.481,0.621,0.526,26.0,39.0,1
21801215,2019-04-09,Final,1610612740,1610612744,2018,1610612740,103.0,0.444,0.600,0.273,29.0,42.0,1610612744,112.0,0.483,0.667,0.400,25.0,58.0,0
21801225,2019-04-10,Final,1610612763,1610612744,2018,1610612763,132.0,0.490,0.833,0.457,25.0,49.0,1610612744,117.0,0.500,0.857,0.433,32.0,39.0,1