In [72]:
import pandas as pd
import model.preprocess_games as ppg

In [73]:
ppg.load_datasets()

In [74]:
ppg.games

,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
GAME_ID,,,,,,,,,,,,,,,,,,,,
10300001,2003-10-05,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,0.143,23.0,41.0,1610612742,85.0,0.447,0.500,0.250,20.0,38.0,1
10300002,2003-10-06,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,0.267,25.0,48.0,1610612749,94.0,0.427,0.700,0.154,20.0,43.0,1
10300003,2003-10-07,Final,1610612765,1610612739,2003,1610612765,96.0,0.391,0.600,0.444,19.0,37.0,1610612739,100.0,0.494,0.690,0.667,25.0,52.0,0
10300004,2003-10-07,Final,1610612742,1610612753,2003,1610612742,99.0,0.488,0.667,0.167,20.0,52.0,1610612753,89.0,0.408,0.727,0.350,15.0,34.0,1
10300005,2003-10-07,Final,1610612757,1610612745,2003,1610612757,104.0,0.527,0.657,0.429,22.0,33.0,1610612745,80.0,0.470,0.667,0.333,10.0,37.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21900897,2020-03-01,Final,1610612746,1610612755,2019,1610612746,136.0,0.592,0.805,0.542,25.0,37.0,1610612755,130.0,0.505,0.650,0.488,27.0,37.0,1
21900898,2020-03-01,Final,1610612743,1610612761,2019,1610612743,133.0,0.566,0.700,0.500,38.0,41.0,1610612761,118.0,0.461,0.897,0.263,24.0,36.0,1
21900899,2020-03-01,Final,1610612758,1610612765,2019,1610612758,106.0,0.407,0.885,0.257,18.0,51.0,1610612765,100.0,0.413,0.667,0.429,23.0,42.0,1
21900900,2020-03-01,Final,1610612740,1610612747,2019,1610612740,114.0,0.421,0.818,0.219,24.0,52.0,1610612747,122.0,0.515,0.900,0.371,23.0,36.0,0
21900901,2020-03-01,Final,1610612744,1610612764,2019,1610612744,110.0,0.472,0.708,0.321,25.0,52.0,1610612764,124.0,0.488,0.889,0.667,24.0,34.0,0

In [92]:
games = pd.read_csv("../nba-games/games.csv",parse_dates=["GAME_DATE_EST"]
                    ,infer_datetime_format=True, index_col="GAME_ID")
teams = pd.read_feather("data/teams.processed.feather")

In [93]:
games.shape

(23195, 20)

In [105]:
games = games.sort_values(by=['GAME_DATE_EST', 'GAME_ID'])

In [78]:
games["HOME_TEAM_ID"]

GAME_ID
10300001    1610612762
10300002    1610612763
10300003    1610612765
10300004    1610612742
10300005    1610612757
               ...
21900897    1610612746
21900898    1610612743
21900899    1610612758
21900900    1610612740
21900901    1610612744
Name: HOME_TEAM_ID, Length: 23195, dtype: int64

In [79]:
games.head()

,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
GAME_ID,,,,,,,,,,,,,,,,,,,,
10300001,2003-10-05,Final,1610612762,1610612742,2003,1610612762,90.0,0.457,0.735,0.143,23.0,41.0,1610612742,85.0,0.447,0.500,0.250,20.0,38.0,1
10300002,2003-10-06,Final,1610612763,1610612749,2003,1610612763,105.0,0.494,0.618,0.267,25.0,48.0,1610612749,94.0,0.427,0.700,0.154,20.0,43.0,1
10300003,2003-10-07,Final,1610612765,1610612739,2003,1610612765,96.0,0.391,0.600,0.444,19.0,37.0,1610612739,100.0,0.494,0.690,0.667,25.0,52.0,0
10300004,2003-10-07,Final,1610612742,1610612753,2003,1610612742,99.0,0.488,0.667,0.167,20.0,52.0,1610612753,89.0,0.408,0.727,0.350,15.0,34.0,1
10300005,2003-10-07,Final,1610612757,1610612745,2003,1610612757,104.0,0.527,0.657,0.429,22.0,33.0,1610612745,80.0,0.470,0.667,0.333,10.0,37.0,1

In [80]:
games.iloc[1,:]

GAME_DATE_EST       2003-10-06 00:00:00
GAME_STATUS_TEXT                  Final
HOME_TEAM_ID                 1610612763
VISITOR_TEAM_ID              1610612749
SEASON                             2003
TEAM_ID_home                 1610612763
PTS_home                            105
FG_PCT_home                       0.494
FT_PCT_home                       0.618
FG3_PCT_home                      0.267
AST_home                             25
REB_home                             48
TEAM_ID_away                 1610612749
PTS_away                             94
FG_PCT_away                       0.427
FT_PCT_away                         0.7
FG3_PCT_away                      0.154
AST_away                             20
REB_away                             43
HOME_TEAM_WINS                        1
Name: 10300002, dtype: object

In [81]:
games.dtypes

GAME_DATE_EST       datetime64[ns]
GAME_STATUS_TEXT            object
HOME_TEAM_ID                 int64
VISITOR_TEAM_ID              int64
SEASON                       int64
TEAM_ID_home                 int64
PTS_home                   float64
FG_PCT_home                float64
FT_PCT_home                float64
FG3_PCT_home               float64
AST_home                   float64
REB_home                   float64
TEAM_ID_away                 int64
PTS_away                   float64
FG_PCT_away                float64
FT_PCT_away                float64
FG3_PCT_away               float64
AST_away                   float64
REB_away                   float64
HOME_TEAM_WINS               int64
dtype: object

In [112]:
query = (games.SEASON==2018) & \
((games.TEAM_ID_home == 1610612744) | \
        (games.TEAM_ID_away == 1610612744))
#games2019 = games[query]
query2019 = (games.GAME_DATE_EST  >= "2018-10-16") & \
            (games.GAME_DATE_EST <= "2019-04-10") & \
            (games.SEASON==2018)
games2019 = games[query2019]

In [99]:
def get_w(row):
    if row["TEAM_ID_home"] == 1610612744 and row["HOME_TEAM_WINS"] == 1:
        return games2019.W.shift()+1
    elif row["TEAM_ID_away"] == 1610612744 and row["HOME_TEAM_WINS"] == 0:
        return games2019.W.shift()+1
    else:
        return games2019.W.shift()
# games2019["W"]=0
# games2019["W"] = games2019.apply(get_w, axis=1)

In [167]:
gws2019 = games2019[(games2019.HOME_TEAM_ID == 1610612744) | \
                    (games2019.VISITOR_TEAM_ID == 1610612744)]

gws2019 = games2019[(games2019.HOME_TEAM_ID == 1610612744) | \
                    (games2019.VISITOR_TEAM_ID == 1610612744)]
idx = len(gws2019)-1
row = gws2019.iloc[idx]



# HW
temp = gws2019[(gws2019.HOME_TEAM_ID == 1610612744) & \
             (gws2019.GAME_DATE_EST < row.GAME_DATE_EST)]
hw = temp.HOME_TEAM_WINS.sum() 
# VW
temp = gws2019[(gws2019.VISITOR_TEAM_ID == 1610612744) & \
             (gws2019.GAME_DATE_EST < row.GAME_DATE_EST)]
vw = temp.HOME_TEAM_WINS.count() \
            - temp.HOME_TEAM_WINS.sum()

# hl
temp = gws2019[(gws2019.HOME_TEAM_ID == 1610612744) & \
             (gws2019.GAME_DATE_EST < row.GAME_DATE_EST)]
hl = temp.HOME_TEAM_WINS.count() - temp.HOME_TEAM_WINS.sum() 

# vl
temp = gws2019[(gws2019.VISITOR_TEAM_ID == 1610612744) & \
             (gws2019.GAME_DATE_EST < row.GAME_DATE_EST)]
vl = temp.HOME_TEAM_WINS.sum()

print(hw)
print(vw)
print(hw + vw)

print(hl)
print(vl)
print(hl + vl)
gws2019.tail()
#queryHomeWins =

30
27
57
11
13
24

,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
GAME_ID,,,,,,,,,,,,,,,,,,,,
21801179,2019-04-04,Final,1610612747,1610612744,2018,1610612747,90.0,0.356,0.571,0.216,25.0,62.0,1610612744,108.0,0.439,0.800,0.391,30.0,51.0,0
21801191,2019-04-05,Final,1610612744,1610612739,2018,1610612744,120.0,0.529,1.000,0.541,29.0,38.0,1610612739,114.0,0.443,0.913,0.233,21.0,48.0,1
21801205,2019-04-07,Final,1610612744,1610612746,2018,1610612744,131.0,0.546,0.867,0.324,34.0,48.0,1610612746,104.0,0.481,0.621,0.526,26.0,39.0,1
21801215,2019-04-09,Final,1610612740,1610612744,2018,1610612740,103.0,0.444,0.600,0.273,29.0,42.0,1610612744,112.0,0.483,0.667,0.400,25.0,58.0,0
21801225,2019-04-10,Final,1610612763,1610612744,2018,1610612763,132.0,0.490,0.833,0.457,25.0,49.0,1610612744,117.0,0.500,0.857,0.433,32.0,39.0,1