In [2]:
!pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in /home/nathaniel/anaconda3/lib/python3.7/site-packages (0.22.2.post1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in /home/nathaniel/anaconda3/lib/python3.7/site-packages (from scikit-learn) (1.18.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /home/nathaniel/anaconda3/lib/python3.7/site-packages (from scikit-learn) (0.14.1)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in /home/nathaniel/anaconda3/lib/python3.7/site-packages (from scikit-learn) (1.4.1)

Load packages

In [3]:
import sklearn
import pandas as pd
import numpy as np
from math import pi

import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import display, Markdown

In [38]:
df = pd.read_csv("../nba-games/games.csv")
df.shape

(23195, 21)

In [39]:
df = df.drop_duplicates()
df = df.drop(columns=["TEAM_ID_home", "TEAM_ID_away"], axis=1)
df = df[df.SEASON == 2018]
df.shape

(1378, 19)

In [7]:
df['GAME_DATE_EST'] = pd.to_datetime(df['GAME_DATE_EST'], format="%Y-%m-%d" )

In [8]:
df.dtypes

GAME_DATE_EST       datetime64[ns]
GAME_ID                      int64
GAME_STATUS_TEXT            object
HOME_TEAM_ID                 int64
VISITOR_TEAM_ID              int64
SEASON                       int64
TEAM_ID_home                 int64
PTS_home                   float64
FG_PCT_home                float64
FT_PCT_home                float64
FG3_PCT_home               float64
AST_home                   float64
REB_home                   float64
TEAM_ID_away                 int64
PTS_away                   float64
FG_PCT_away                float64
FT_PCT_away                float64
FG3_PCT_away               float64
AST_away                   float64
REB_away                   float64
HOME_TEAM_WINS               int64
dtype: object

In [9]:
df["HOME_TEAM_WIN_LAST_10_GAMES"] = 0
df["VISITOR_TEAM_WIN_LAST_10_GAMES"] = 0

In [10]:
df.dtypes

GAME_DATE_EST                     datetime64[ns]
GAME_ID                                    int64
GAME_STATUS_TEXT                          object
HOME_TEAM_ID                               int64
VISITOR_TEAM_ID                            int64
SEASON                                     int64
TEAM_ID_home                               int64
PTS_home                                 float64
FG_PCT_home                              float64
FT_PCT_home                              float64
FG3_PCT_home                             float64
AST_home                                 float64
REB_home                                 float64
TEAM_ID_away                               int64
PTS_away                                 float64
FG_PCT_away                              float64
FT_PCT_away                              float64
FG3_PCT_away                             float64
AST_away                                 float64
REB_away                                 float64
HOME_TEAM_WINS                             int64
HOME_TEAM_WIN_LAST_10_GAMES                int64
VISITOR_TEAM_WIN_LAST_10_GAMES             int64
dtype: object

In [16]:
df_preprocessed = pd.DataFrame()

df_preprocessed = df[["HOME_TEAM_ID", "VISITOR_TEAM_ID"]].copy()
#df_preprocessed = df[["HOME_TEAM_ID"]].copy()

df_preprocessed.sample()

       HOME_TEAM_ID  VISITOR_TEAM_ID
16208    1610612749       1610612761

In [ ]:
def last_10_games(team_id):
    team_df = df[(df.HOME_TEAM_ID == team_id) | (df.VISITOR_TEAM_ID == team_id)].head(10)
    balance = 0
    for idx, row in team_df.iterrows():
        if row.HOME_TEAM_ID == team_id:
            balance += row.HOME_TEAM_WINS
        else:
            if row.HOME_TEAM_WINS == 0:
                balance += 1
    return balance

df = df.sort_values(by='GAME_DATE_EST', ascending=False)

for idx, row in df.iterrows():
   df.at[idx, "HOME_TEAM_WIN_LAST_10_GAMES"] = last_10_games(row ["HOME_TEAM_ID"])
   df.at[idx, "VISITOR_TEAM_WIN_LAST_10_GAMES"] = last_10_games(row ["VISITOR_TEAM_ID"])

In [ ]:
df[["VISITOR_TEAM_WIN_LAST_10_GAMES", "HOME_TEAM_WIN_LAST_10_GAMES"]].head(10)